# USING MULTIPLE LINEAR REGRESSION FOR RAINFALL PREDICTION TO AID IN IMPROVING ACCURACY OF WEATHER FORECAST

# Importing our libraries
1. Pandas
2. Sklearn
3. Math

In [42]:
import pandas
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from math import sqrt

# Dataset before cleaning

In [41]:
df = pandas.read_csv("weather.csv")
df

,MinTemp,MaxTemp,avgTemp,Evaporation,Sunshine,WindSpeed9am,WindSpeed3pm,WindSpeedAvg,Humidity9am,Humidity3pm,HumidityAvg,Pressure9am,Pressure3pm,PressureAvg,Temp9am,Temp3pm,TempAvg,Rainfall
0,8.0,24.3,NaN,3.4,6.3,6.0,20,NaN,68,29,NaN,1019.7,1015.0,NaN,14.4,23.6,NaN,0.0
1,14.0,26.9,NaN,4.4,9.7,4.0,17,NaN,80,36,NaN,1012.4,1008.4,NaN,17.5,25.7,NaN,3.6
2,13.7,23.4,NaN,5.8,3.3,6.0,6,NaN,82,69,NaN,1009.5,1007.2,NaN,15.4,20.2,NaN,3.6
3,13.3,15.5,NaN,7.2,9.1,30.0,24,NaN,62,56,NaN,1005.5,1007.0,NaN,13.5,14.1,NaN,39.8
4,7.6,16.1,NaN,5.6,10.6,20.0,28,NaN,68,49,NaN,1018.3,1018.5,NaN,11.1,15.4,NaN,2.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,9.0,30.7,NaN,7.6,12.1,7.0,50,NaN,38,15,NaN,1016.1,1010.8,NaN,20.4,30.0,NaN,0.0
362,7.1,28.4,NaN,11.6,12.7,2.0,19,NaN,45,22,NaN,1020.0,1016.9,NaN,17.2,28.2,NaN,0.0
363,12.5,19.9,NaN,8.4,5.3,11.0,9,NaN,63,47,NaN,1024.0,1022.8,NaN,14.5,18.3,NaN,0.0
364,12.5,26.9,NaN,5.0,7.1,6.0,28,NaN,69,39,NaN,1021.0,1016.2,NaN,15.8,25.9,NaN,0.0
365,12.3,30.2,NaN,6.0,12.6,31.0,35,NaN,43,13,NaN,1009.6,1009.2,NaN,23.8,28.6,NaN,0.0

# Dataset after cleaning

In [31]:
df = pandas.read_csv("file.csv")
df

,Evaporation,Sunshine,WindSpeed,Humidity,Pressure,Temperature,Rainfall
0,3.4,6.3,13.0,48.5,1017.35,17.575,0.0
1,4.4,9.7,10.5,58.0,1010.40,21.025,3.6
2,5.8,3.3,6.0,75.5,1008.35,18.175,3.6
3,7.2,9.1,27.0,59.0,1006.25,14.100,39.8
4,5.6,10.6,24.0,58.5,1018.40,12.550,2.8
...,...,...,...,...,...,...,...
360,6.8,3.5,9.5,32.5,1015.90,19.050,0.0
361,7.6,12.1,28.5,26.5,1013.45,22.525,0.0
362,11.6,12.7,10.5,33.5,1018.45,20.225,0.0
363,8.4,5.3,10.0,55.0,1023.40,16.300,0.0
364,5.0,7.1,17.0,54.0,1018.60,20.275,0.0

# Defining our data attributes. Independent variables
They include:
1. Evaporation
2. Sunshine
3. WindSpeed
4. Humidity
5. Pressure
6. Temperature

In [32]:
x = df[['Evaporation', 'Sunshine', 'WindSpeed', 'Humidity', 'Pressure', 'Temperature']]
x

     Evaporation  Sunshine  WindSpeed  Humidity  Pressure  Temperature
0            3.4       6.3       13.0      48.5   1017.35       17.575
1            4.4       9.7       10.5      58.0   1010.40       21.025
2            5.8       3.3        6.0      75.5   1008.35       18.175
3            7.2       9.1       27.0      59.0   1006.25       14.100
4            5.6      10.6       24.0      58.5   1018.40       12.550
..           ...       ...        ...       ...       ...          ...
360          6.8       3.5        9.5      32.5   1015.90       19.050
361          7.6      12.1       28.5      26.5   1013.45       22.525
362         11.6      12.7       10.5      33.5   1018.45       20.225
363          8.4       5.3       10.0      55.0   1023.40       16.300
364          5.0       7.1       17.0      54.0   1018.60       20.275

[365 rows x 6 columns]

# Defining our dependent variable
1. Rainfall.
This is the attribute that our model will try and predict from the data

In [33]:
y = df['Rainfall']
y

0       0.0
1       3.6
2       3.6
3      39.8
4       2.8
       ...
360     0.0
361     0.0
362     0.0
363     0.0
364     0.0
Name: Rainfall, Length: 365, dtype: float64

# Splitting our data into training and testing sets.
The data is split into:
1. 80% for training
2. 20% for testing

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state = 0)

# Initializing our Linear regresion model
We initialize our model by creating an instance of the class LinearRegression

In [35]:
regr = linear_model.LinearRegression()

# Training the model
This is done by calling the fit() method which is given the data inputs, x_train and y_train as arguments

In [37]:
regr.fit(x_train, y_train)

LinearRegression()

# Testing the model
the model is tested by calling the predict() method which is given data input, x_test as arguments

In [38]:
y_prediction = regr.predict(x_test)

# Printing the model perfomance metrics
 We print the mean squared error(MSE) which is the Mean or Average of the square of the difference between actual and estimated values. it is squared since some eroor values are negative. we then find the square root of MSE to find the mean error.

In [39]:
mse = mean_squared_error(y_test, y_prediction)
error = sqrt(mse)
print(f"mean squared error is {mse}")
print(f"error value is {error}")

mean squared error is 14.48595191311904
error value is 3.8060415017599376